@media (max-width: 890px) {
  :root {
    --translateZ: 290px !important;
    --faceWidth: 150px !important;
  }

  .carousel_scene {
    width: 150px !important;

  }

  .face {
    height: 100px !important;
  }
}



@media (max-width: 645px) {
  :root {
    --translateZ: 194px !important;
    --faceWidth: 100px !important;
  }

  .carousel_scene {
    width: 100px !important;

  }

  .face {
    border: 2px solid !important;
    height: 67px !important;
  }
}


@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

@media screen and (max-width: 990px) {
  #navbarNav {
    background-color: white;
    z-index: 1000;
  }

  .nav-element>li>a {
    font-size: 1rem;
    padding: 0.5rem !important;
    text-align: left !important;
  }

  .nav-element>li>button {
    font-size: 1rem;
    padding: 0.5rem !important;
    text-align: left !important;
    margin: 0 !important;
  }
}

@media (body<100vh) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}