* {
  margin: 0;
  padding: 0;
  font-family: quicksand;
}

@font-face {
  font-family: quicksand;
  src: url(../quickravageregular-x31g8.otf);
}

@font-face {
  font-family: baloo;
  src: url(../Baloo2-VariableFont_wght.ttf);
}

:root {
  --translateZ: 360px;
  --faceWidth: 180px;
}

body {

  font-family: Arial, sans-serif;
  width: 100%;
  color: white;
}

#icones .card {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 235px;
  border-radius: 40px;

  text-align: center;
}

#personnage {
  background-color: black;
}

#personnage .card {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#personnage .card img {
  opacity: 0.8;
}

.descri-info {
  margin-top: 20px;
}

.weather-icon img {
  width: 70px;
}

#temp-info {
  margin-top: 40px;
}

.back_input {
  background-color: #556672;
}

/* login/signin */

.nav-element {
  background: rgba(255, 255, 255, 0.41);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  filter: blur(0.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
}

nav {}

#mynavbar {
  width: 50% !important;
}

.nav-element>li>a {
  text-decoration: none;
  color: black !important;
  text-align: center;
  font-size: 2rem;
  padding: 0.75rem;
}

.nav-element>a {
  margin: auto;
  text-decoration: none;
  color: black !important;
  text-align: center;
  font-size: 2rem;
}

.nav-element>li>a:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

.nav-element>li>a {
  text-decoration: none;
  color: black !important;
  text-align: center;
  font-size: 2rem;
  padding: 0.75rem;
}

.nav-element>li>button {
  margin: auto;
  text-decoration: none;
  color: black !important;
  text-align: center;
  font-size: 2rem;
  padding: 0.75rem;
}

.nav-element>li>button:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

.nav-element>li>button:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

h2 {
  text-align: center;
}

.container-card {
  margin: auto;
  padding-top: 47%;
}

.decouvrer {
  font-family: quicksand;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 10%;
  background-color: black;
  border-radius: 20px;
}

.decouvrer:hover {
  border: solid white 2px;
}

#Q {
  font-family: quicksand;
  font-size: 3.5rem;
  color: white;
  text-align: center;
  margin-top: 10%;
  border-radius: 20px;
}

.cursor-classic {
  cursor: default;
}

.ml-2,
.mr-2 {
  margin-left: 1em;
  margin-right: 1em;
}


.container-fluid {
  width: 100%;
  height: 100%;
}

#txt {
  font-family: quicksand;
  font-size: 3rem;
  color: black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  position: relative;

}

#smoke {
  width: 100%;
  position: absolute;
  margin-top: -600px;
}

.label-log>.form-group>label {
  font-family: baloo;
}


.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  border: none;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

#error {
  position: relative;
  font-size: 6vw;
}

.texte {
  position: relative;
  font-size: 2vw;
}

#icone_erreur {
  width: 20vw;
}


.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.fondu {
  background: rgb(118, 136, 145);
  background: linear-gradient(180deg,
      rgba(118, 136, 145, 1) 0%,
      rgba(53, 69, 82, 1) 100%);
}

.acti {
  color: white;
}

.acti>div>div>div>div>div {
  color: white;
  background-color: #556672;
  border-radius: 20px;
}

.acti>div>div>div>div {
  background: none;
  border: none;
}

section {
  color: white;
}

.list-group>li {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
}

.list-group {
  margin: auto;
}

.section {
  margin: auto;
  padding: 10px;

}

.card-body {
  margin: 2% auto 2% auto;
}

.title_h1 {
  font-family: quicksand;
  font-size: 3rem;
  color: black;
  text-align: center;
  margin-top: 10%;

}

#logo {
  padding: 0;
}

.title_h2 {
  font-family: quicksand;
  font-size: 2rem;
  color: black;
  text-align: center;
  margin-top: 10%;
}

.title_h5 {
  font-family: quicksand;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 1%;
}

.navbar a.icon {
  display: none;
  /* cache l'icône par défaut */
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: quicksand;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}



.navbar a.icon {
  display: none;
}

#card-price>div>div>div>p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.checkbox {
  margin-left: 10px !important;
  margin-top: 5px !important;
}

.navbar12 {
  z-index: 1000;
  background-color: #333;
  color: white;
  position: fixed;
  top: -260px;
  width: 100%;
  transition: top 0.3s;
  margin-bottom: 50px;
}

#carousel1 {
  display: flex;
  overflow: hidden;
}

.carousel-item1 {
  flex: 0 0 auto;
  width: 100%;
  color: #000;
  transition: transform 0.5s ease-in-out;
  display: none;
}

.carousel-item1.active {
  display: block;
}

.carou-card {
  width: 100%;
  height: 400px !important;
}

.aerodrome {
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #768891 0%, #354552 100%);
  background-size: cover;
}


#avion_aerodrome {
  width: 60%;
  height: auto;
  box-shadow: #000;
  border-radius: 5%;
}

.aerodrome div p {
  font-family: quicksand;
  color: black;
  font-size: 3rem !important;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  margin-top: 25%;
}

.aerodrome div div p {
  font-family: quicksand;
  color: black;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.icones_aerodrome {
  width: 50px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.plan {
  border-radius: 20%;
  margin-top: auto;
  margin-bottom: auto;
}

.aerodrome div h1 {
  font-family: quicksand;
  color: black;
  font-size: 5rem;
}

.background_equipement {
  background-color: #556672;
}

.border_equipement {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid white 4px;
  margin-top: -4px !important;

}

.equipement div button {
  font-family: quicksand;
  background-color: #556672;
  border: solid white 4px;
  outline: none;
  color: white;
  z-index: 1000;
  border-bottom: solid #556672 4px;
  position: relative;
}


#btn1 {
  font-size: 3rem;
  height: 100%;
}

#btn2 {
  font-size: 1.2rem;
  height: 100%;
}

#btn3 {
  font-size: 1.2rem;
  height: 100%;
}

.equipement {
  margin-bottom: 20%;
}

.gallerie img {
  width: 300px;
  height: auto;
}

.metre-carre::after {
  content: '\00B2';
  vertical-align: super;
  font-size: smaller;
}

#main_Antoine_User {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

#main_Antoine_User #h1-Antoine {
  margin: auto;
  text-align: center;
}

#main_Antoine_User #h2-Antoine {
  color: white;
}

#main_Antoine_User #greatRectangle-Antoine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main_Antoine_User #greatRectangle-Antoine #rectangle-Antoine {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 50rem;
  height: 41rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

#main_Antoine_User #rectangle-Antoine table {
  border-radius: 20px;
  padding: 10px;
  border-collapse: separate;
  border-spacing: 10px;
  max-width: 800px;
  width: 100%;
}

#main_Antoine_Main #main-Antoine {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#main_Antoine_Main #greatRectangle-Antoine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main_Antoine_Main #rectangle-Antoine {
  background-color: rgba(0, 0, 0, 0.6);
  width: 30rem;
  height: 30rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#main_Antoine_Main #reservation,
#main_Antoine_Main #adherent,
#main_Antoine_Main #autres {
  height: 10rem;
  width: 10rem;
  background-color: rgba(119, 137, 146, 0.5);
  border-radius: 0.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_Antoine_Main #reservation:hover,
#main_Antoine_Main #adherent:hover,
#main_Antoine_Main #autres:hover {
  box-shadow: -1px 5px 12px 0pc black;
  transition: all ease-in-out 0.15s;
}

#main_Antoine_Main img {
  width: 5rem;
  margin: auto;
}

#main_Antoine_Main #h3-Antoine,
#main_Antoine_Main #h1-Antoine {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: auto;
}

#main_Antoine_Main #h1-Antoine {
  gap: 1rem;
}

#main_Antoine_Reservation #main-Antoine {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

#main_Antoine_Reservation #h1-Antoine {
  margin: auto;
  text-align: center;
}

#main_Antoine_Reservation #h2-Antoine {
  color: white;
}

#main_Antoine_Reservation #greatRectangle-Antoine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main_Antoine_Reservation #greatRectangle-Antoine #rectangle-Antoine {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 50rem;
  height: 41rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

#main_Antoine_Reservation #rectangle-Antoine table {
  border-radius: 20px;
  padding: 10px;
  border-collapse: separate;
  border-spacing: 10px;
  max-width: 800px;
  width: 100%;
}

#main_Antoine_Reservation #rectangle-Antoine td {
  background-color: rgba(119, 137, 146, 0.5);
  border-radius: 0.25rem;
  width: 5rem;
  height: 3.5rem;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 1.1rem;
}

#main_Antoine_Reservation #rectangle-Antoine input {
  background-color: rgba(119, 137, 146, 0);
  border-radius: 0.25rem;
  width: 93%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 0.9rem;
  border: none;
}

#main_Antoine_Reservation #rectangle-Antoine td:hover {
  box-shadow: 5px 5px 10px #0d0d0d,
    -5px -5px 10px #393939;
  transition: 0.3s;
}

#main_Antoine_Reservation #rectangle-Antoine .tabLine-Antoine {
  background-color: rgba(119, 137, 146, 0.25);
}

#main_Antoine_Reservation #rectangle-Antoine .tabLine-Antoine:hover {
  box-shadow: none;
}

#main_Antoine_Reservation #rectangle-Antoine #off {
  visibility: hidden;
}