* {
  margin: 0;
  padding: 0;
}

:root {
  --translateZ: 360px;
  --faceWidth: 180px;
}

.carousel_scene {
  top: 20%;
}
.face {
  width: var(--faceWidth);
}

.button_wrap {
  margin-top: 23rem;
}

.f_01, .back_01 {
  transform: rotateY(0deg) translateZ(var(--translateZ));
}

.f_02, .back_02 {
  transform: rotateY(30deg) translateZ(var(--translateZ));
}

.f_03, .back_03 {
  transform: rotateY(60deg) translateZ(var(--translateZ));
}



body {
  font-family: Arial, sans-serif;
}

.card {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 235px; 
  border-radius: 40px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.descri-info {
  margin-top: 20px;
}
.weather-icon img{
  width: 70px;
}

#temp-info {
  margin-top: 40px;
}

.back_input{
  background-color: #556672;
}