*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;}

:root{
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
  --translateZ: 360px;
  --faceWidth: 180px;
}

body{ 
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0em auto;
  background: white;
}

.carousel_scene{
	position: absolute;
  width: 200px;
  height: 110px;
  top: 20%;
  perspective: 640px;
}
  
.carousel{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.4s;
}






.face{
  position:absolute;
  height: 120px;
  width: var(--faceWidth);
  text-align: center;
  font-size: 4.4rem;
  background-color: white;
border: 3px solid;
}

.button_wrap{
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 80px;
  top: 23rem;
}

.button{
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  margin: 2rem;
  font-size: 3rem;
}

.button:active{
  font-size: 2.6rem;
}

.backface{

}

.f_01, .back_01{ 
  transform: 
  rotateY(0deg)
  translateZ(var(--translateZ));
}


.f_02, .back_02{ 
  transform: 
  rotateY(30deg) 
  translateZ(var(--translateZ));
}


.f_03, .back_03{ 
  transform: 
  rotateY(60deg) 
  translateZ(var(--translateZ));
}

